<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" /> 
    <title>Studybud</title>
  </head>
  <body>
    {% include "navbar.html" %}

    {% if messages %} 
      <div>
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <!--<img src="{% static 'images/img.jpeg'%}" width="200" height="200">-->

    {% block content %} <!-- Template inheritance -->    
    {% endblock %}
  </body>
</html>
