{% extends "main.html" %}

{% block content %} 
    <div>
        <h1>Home Page</h1>
        <h2>Available Study Rooms</h2>
        
        <div>
            <h3>Browse Topics</h3>
            <ul>
                <li><a href="{% url 'home' %}">All</a></li>
                {% for topic in topics %}
                    <li><a href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        
        <div>
            <a href="{% url 'create-room' %}">Create new room</a>
            
            {% for room in rooms %}
                <div>
                    <div>
                        <a href="{% url 'room' room.id %}">
                            <h4>{{ room.name }}</h4>
                        </a>
                        <span>@{{ room.host.username }}</span>
                    </div>
                    
                    <small>{{ room.topic.name }}</small>
                    
                    <div>
                        <a href="{% url 'update-room' room.id %}">Edit</a>
                        <a href="{% url 'delete-room' room.id %}">Delete</a>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

