{% extends "main.html" %}

{% block content %} 
    <div>
        <h1>Home Page</h1>
        <h2>Available Study Rooms</h2>
        
        <div>
            {% include "base/topics_component.html" %}
        </div>
        
        <div>
            <h5>{{room_count}} rooms available</h5>
            <a href="{% url 'create-room' %}">Create new room</a>
            
            <div>
                {% include "base/feed_component.html" %}
            </div>
        </div>

        <div>
           {% include "base/activity_component.html" %} 
        </div>
    </div>
{% endblock %}

