{% extends "main.html" %} <!-- Template inheritance -->>


{% block content %} 
    <h1>Home Page</h1>
    <h2>Available Study Rooms:</h2>
    <div>
        <a href="{% url 'create-room' %}">Create new room</a>
        {% for room in rooms %}
            <div>
                <a href="{% url 'update-room' room.id %}">Edit</a> 
                <a href="{% url 'delete-room' room.id %}">Delete</a> 
                <span>@{{room.host.username}}</span>
                <a href="{% url 'room' room.id %}"><li>{{room.id}} {{ room.name }}</li></a>
                <small>{{room.topic.name}}</small>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}

